@import 'variables.scss';
@import 'masonry-mixins.scss';


@mixin blog-title($key) {
  font-family: Cabin-Bold;
  
  @if $key == "green" {
    color: $blog-green-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-green-title-shadow-color;
  }
  @else if $key == "orange" {
    color: $blog-orange-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-orange-title-shadow-color;
  }
  @else if $key == "red" {
    color: $blog-red-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-red-title-shadow-color;
  }
  @else if $key == "dark" {
    color: $blog-dark-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-dark-title-shadow-color;
  }
  @else {
    color: $blog-dark-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-dark-title-shadow-color;
  }
}

@mixin blog-sub-title($key) {
  @if $key == "green" {
    color: $blog-green-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-green-title-shadow-color;
  }
  @else if $key == "orange" {
    color: $blog-orange-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-orange-title-shadow-color;
  }
  @else if $key == "red" {
    color: $blog-red-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-red-title-shadow-color;
  }
  @else if $key == "dark" {
    color: $blog-dark-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-dark-title-shadow-color;
  }
  @else {
    color: $blog-dark-title-color;
    text-shadow: 1.5px 1.5px 1.4px $blog-dark-title-shadow-color;
  }
}

@mixin faded-hr($key) {
  position: absolute;
  width: 70%;
  margin: 0;
  margin-left: 57px;
  top: 106px;
  border: 0;
  height: 1px;
  @if ($key == "light") {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(241, 241, 241, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(241, 241, 241, 0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(241, 241, 241, 0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(241, 241, 241, 0.75), rgba(0,0,0,0));
  }
  @else {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }
}



body {
  background-color: #EBEBEB;
}

.block-outer {
  .newsletter-background {
    background-color: $newsletter-background-color;
  }
}

.block {
  width: $block-size-small;
  height: $block-size-small;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  
  float: left;
}

.block-animate {
  -webkit-transition: -webkit-transform $block-animate-time $block-animate-timing-function;
     -moz-transition: -moz-transform $block-animate-time $block-animate-timing-function;
       -o-transition: -o-transform $block-animate-time $block-animate-timing-function;
          transition: transform $block-animate-time $block-animate-timing-function;
}

.block-animate:hover {
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

.block-one {

}
  
.block-two {
  margin: 0;
  width: $block-size-big;
  
  .left {
    width: $block-size-small;
    height: $block-size-small;
    position: relative;
    overflow: hidden;
    float: left;
    
    img {
      width: $block-size-small;
      height: $block-size-small;
      -webkit-transition: $image-transition;
         -moz-transition: $image-transition;
           -o-transition: $image-transition;
          -ms-transition: $image-transition;
              transition: $image-transition;
      
      cursor: pointer;
    }
    
    img:hover {
      width: $block-size-med;
      height: $block-size-med;
      opacity: 0.8;
    }
    
    .price-tag {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 10px;
      background-color: $price-tag-color;
    }
  }
  
  .right {
    width: $block-size-small;
    height: $block-size-small;
    position: relative;
    float: right;
    padding: 20px;
    
    background-color: #424361;
    
    .dress-title {
      font-size: 20px;
      font-family: Cabin-Bold;
      color: $dress-title-color;
      
      // creator's name section
      span {
        display: block;
        margin-top: 18px;
        font-size: 14px;
        
        // creator's name
        span {
          display: inline;
          font-size: 18px;
          color: $dress-title-creator-color;
          cursor: pointer;
        }
      }
    } // .dress-title
    
    .add-to-cart {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px 19px 2px 19px;
      background-color: $add-to-cart-background-color;
      
      span {
        font-size: 18px;
      }
    }
    .add-to-cart:hover {
      background-color: $add-to-cart-background-color-hover;
      cursor: pointer;
    }
    
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 14px 12px 0;
      
      top: ($block-size-small / 2) - 12px;
      left: -13px;
      
      border-color: transparent #424361 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #424361 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
  }
  
  .signup form{
    margin-top: 18.5px;
  }
  
  // social blocks
  .social {
    width: 380px;
    height: 180px;
    position: relative;
    overflow: hidden;
    font-size: 22px;
    
    p, h3 {
      position: absolute;
      margin: 0;      
      cursor: pointer;
    }
    
    .inner {
      width: 380px;
      height: 180px;
      
      -webkit-transition: $image-transition;
         -moz-transition: $image-transition;
           -o-transition: $image-transition;
          -ms-transition: $image-transition;
              transition: $image-transition;
      
      cursor: default;
    }
    .inner:hover {
      width: 400px;
      height: 189px;
      
      opacity: 0.9;
    }
  }

  .facebook {
    p {     
        top: 50%;
        margin-top: -15.5px;
        
        left: 50%;
        margin-left: -123.5px;
      }
  }
  .twitter {
    p {     
        top: 50%;
        margin-top: -15.5px;
        
        left: 50%;
        margin-left: -107px;
      }
  }
  .vimeo {
    p {     
        top: 50%;
        margin-top: -15.5px;
        
        left: 50%;
        margin-left: -117px;
      }
  }
  .blog {
    p, h3 {     
        top: 50%;
        left: 50%; 
    }  
  }  // .blog
  
  .ad-lion {
    p {
      margin-top: -20px;
      margin-left: -65px;
      cursor: default;
      
      @include blog-sub-title("red");
    }
    
    hr {
        @include faded-hr("");
    }
      
    h3 {
      font-size: 26px;
      margin-top: 20px;
      margin-left: -94px;
      
      @include blog-title("red");
    }
  } // .ad-lion
  
  .ad-nature {
    p {
      margin-top: -20px;
      margin-left: -65px;
      cursor: default;
      
      @include blog-sub-title("dark");
    }
    
    hr {
        @include faded-hr("");
    }
    
    h3 {
      font-size: 26px;
      margin-top: 20px;
      margin-left: -91.5px;
      
      @include blog-title("dark");
    }
  } // .ad-nature
  
  .ad-city {
    p {
      margin-top: -20px;
      margin-left: -65px;
      cursor: default;
      
      @include blog-sub-title("green");
    }
    
    hr {
        @include faded-hr("");
    }
    
    h3 {
      font-size: 26px;
      margin-top: 20px;
      margin-left: -63.5px;
      
      @include blog-title("green");
    }
  } // .ad-city
  
  .ad-accessories {
    p {
      margin-top: -20px;
      margin-left: -65px;
      cursor: default;
      
      @include blog-sub-title("orange");
    }
    
    hr {
        @include faded-hr("light");
    }
    
    h3 {
      font-size: 26px;
      margin-top: 20px;
      margin-left: -95px;
      
      @include blog-title("orange");
    }
  } // .ad-accessories
}

.notblock-outer {
  @include masonry-transitions(0.4s, ease-in, 0.4s, ease-in, 0.4s);
}