@font-face {
  font-family: 'PassionOne_Regular';
  src: url('../fonts/passion-one/sPassionOne-Regular.otf');
}

@font-face {
  font-family: 'Cabin-Regular';
  src: url('../fonts/cabin/Cabin-Regular.otf');
}

@font-face {
  font-family: 'Cabin-Bold';
  src: url('../fonts/cabin/Cabin-Bold.otf');
}