@font-face {
  font-family: 'PassionOne-Regular';
  src: url('../fonts/passion-one/PassionOne-Regular.otf');
}

@font-face {
  font-family: 'Cabin-Regular';
  src: url('../fonts/cabin/Cabin-Regular.otf');
}

@font-face {
  font-family: 'Cabin-Bold';
  src: url('../fonts/cabin/Cabin-Bold.otf');
}

@font-face {
  font-family: 'OdinRounded-Regular';
  src: url('../fonts/odin-rounded/Regular/Odin Rounded - Regular.otf');
}

@font-face {
  font-family: 'OdinRounded-Bold';
  src: url('../fonts/odin-rounded/Bold/Odin Rounded - Bold.otf');
}

@font-face {
  font-family: 'Edmondsans-Regular';
  src: url('../fonts/edmondsans/Edmondsans-Regular.otf');
}

@font-face {
  font-family: 'Abeezee-Regular';
  src: url('../fonts/abeezee/ABeeZee-Regular.otf');
}

@font-face {
  font-family: 'GreatVibes-Regular';
  src: url('../fonts/great-vibes/GreatVibes-Regular.otf');
}