@import 'variables.scss';

.page-footer {
  color: $footer-color;
  background-color: $footer-background-color;
  padding: 20px;
  
  
  // left-right border for footer
  
  .lrborder {
    border-top: 0px solid #FFFF00;
    border-bottom: 0px solid #FF0000;
    background-image: 
        -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) ),
        -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) )
    ;
    background-image: 
        -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) ),
        -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) )
    ;
    background-image: 
        -o-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) ),
        -o-linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) )
    ;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) ),
        linear-gradient(rgba(0, 0, 0, 0), rgba(93, 68, 148, 0.75), rgba(0, 0, 0, 0) )
    ;
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat:no-repeat;
  }
  
  /*
  // inner and outer border
  .plrborder{
      // outer border
      border-left:1px solid $footer-background-color;
      border-right:1px solid $footer-background-color;
      position:relative;
  }
  .plrborder:before{
      // inner border
      position:absolute;
      display:block;
      content:'';
      border-left:1px solid $footer-background-color;
      border-right:1px solid $footer-background-color;
      height:100%;
      width:100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
  } */
    
  .footer-logo {
    font-size: 60px;
    font-family: GreatVibes-Regular;
    
    p, h2 {
      margin: 0;
      padding: 0;
    }
    
    h2 {
      font-size: 110px;
    }
    
  } // .footer-logo
  
  
  .email, .signup {
    color: $main-nav-color;
  }
  
  .email {
    font-size: 22px;
    margin-top: 71px;
    
    button {
      a {
        font-size: 18px;
      }
      
      a:hover {
        text-decoration: none;
      }
    }
  }
  
  .signup {
    margin-top: 44.5px;
  }
  
  
  .main-nav-outer {
    text-align: center;
    margin-top: 40px;
    
    .main-nav {
      float: none;
      display: inline-block;
      
      li {
        padding: 0px 10px;
        
        a {
          line-height: $main-nav-line-height;
          padding: 5px 25px;
          font-size: 22px;
          //font-family: PassionOne-Regular;
          font-family: Cabin-Bold;
          font-family: Abeezee-Regular;
          color: $main-nav-color;
        }
        
        a:hover {
          background-color: $footer-background-color;
          color: $main-nav-color-highlight;
        }
      }
      
    }
  }
} // .page-footer
