
@import 'variables.scss';
@import 'logo.scss';

#page-head {
  
  // So the hidden cart would not make the screen x-scrollable.
  position: relative;
  overflow: hidden;
  
  .main-nav-outer {
    overflow: auto;
    background-color: $main-nav-background-color;
    
    .shopping-cart {
      position: absolute;
      z-index: 99;
      padding: 0 20px 0 20px;
      background-color: $shopping-cart-background;
      right: -118px; // Only Cart is visible (no text)
      
      //Testing the transition right now...
      -webkit-transition: right 300ms ease-in;
      
      p {
        // height: 100px;
        margin: 0;
        color: $main-nav-color;
        
        span.cart {
          font-size: $shopping-cart-icon-font-size;
          // center the shopping cart icon with top and bottom padding
          padding: (($main-nav-height - $shopping-cart-icon-font-size) / 2) 10px (($main-nav-height - $shopping-cart-icon-font-size) / 2) 0;
        }
        
        span.cart-items {
          line-height: $main-nav-height;
          vertical-align: bottom;
          font-size: $shopping-cart-font-size;
        }
        
      }
      
      // shopping-cart
      @media only screen and (max-width: $screen-size-smartphone-landscape) {
        right: 0;
      }
    }
    
    .shopping-cart:hover {
      right: 0; // Cart and contents is visible
    }
    
    // main-nav-outer
    @media only screen and (max-width: $screen-size-smartphone-landscape) {
      display: none;
    }
  }
  
  .small-nav {
    display: none;
    
    @media only screen and (max-width: $screen-size-smartphone-landscape) {
      display: block;
      
      ul {
        li {
          
          ul {
            display: none;
            visibility: none;
          }
        }
        
        li:hover {
          
        }
        
        li:hover ul {
          display: block;
          visibility: visible;
          // http://cssdeck.com/labs/another-simple-css3-dropdown-menu
        }
      }
      
    }
  }

  .main-nav {
    position: relative;
    padding-left: 10px;
    li {
      a {
        line-height: $main-nav-line-height;
        padding: $main-nav-padding;
        font-size: $main-nav-font-size;
        //font-family: PassionOne-Regular;
        font-family: Cabin-Bold;
        color: $main-nav-color;
      }
      
      a:hover {
        background-color: $main-nav-background-color;
        color: $main-nav-color-highlight;
      }
    }
    
    @media only screen and (max-width: $screen-size-smartphone-landscape) {
       margin: 0;
    }
  }

  .news {
    background-color: $news-background-color;
    p {
      color: $news-color;
      font-size: $news-font-size;
      line-height: $logo-height - $main-nav-height;
      margin: 0px;
      display: inline-block;
      padding-left: 20px;
    }
  }
}