

$main-nav-background-color: #2B44A7;
$main-nav-front-color: #4D83F5;
$main-nav-front-highlight: $main-nav-front-color + 50;

$news-background-color: #2C2949;
$news-front-color: #F5B86B;

#page-head {
  
  // So the hidden cart would not make the screen x-scrollable.
  position: relative;
  overflow: hidden;
  
  .main-nav-outer {
    overflow: auto;
    background-color: $main-nav-background-color;
    
    .shopping-cart {
      position: absolute;
      padding-right: 20px;
      // right: 0; // Float to right...
      right: -133px; // Only Cart is visible (no text)
      
      //Testing the transition right now...
      -webkit-transition: right 400ms ease-in;
      
      p {
        height: 100px;
        margin: 0;
        color: $main-nav-front-color;
        
        span.cart {
          font-size: 50px;
          padding: 25px 10px 25px 0;
        }
        
        span.cart-items {
          line-height: 100px;
          vertical-align: bottom;
          font-size: 18px;
          padding-right: 11px;
        }
        
      }
    }
    
    .shopping-cart:hover {
      right: 0; // Cart and contents is visible
    }
  }

  .main-nav {
    position: relative;
    li {
      a {
        line-height: 70px;
        font-size: 30px;
        font-family: PassionOne-Regular;
        color: $main-nav-front-color;
      }
      
      a:hover {
        background-color: $main-nav-background-color;
        color: $main-nav-front-highlight;
      }
    }
  }

  .news {
    background-color: $news-background-color;
    p {
      color: $news-front-color;
      font-size: 18px;
      line-height: 40px;
      margin: 0px;
      display: inline-block;
      padding-left: 14px;
    }
  }
}