@import 'variables.scss';
// Provides the font, whose icon is to be used as the logo graphic.
// .flaticon-butterfly52
@import '../fonts/logo/flaticon.css';

.logo-icon {
  font-size: $logo-font-size;
  height: $logo-height;
  float: left;
  color: $logo-color;
  background-color: $logo-background-color;
  padding: 0px 14px;
  
  @media only screen and (max-width: $screen-size-ipad-landscape) {
    font-size: $logo-font-size-small;
    height: $logo-height-small;
    padding: 0px 8px;
  }
}

.logo-icon:hover {
  color: $logo-color-hover;
  background-color: $logo-background-color-hover;
}