//----------------------------------------------
//----------------- Constants ------------------
$site-min-width: 320px;


//----------------------------------------------
//------------------- Logo ---------------------

$logo-font-size: 90px;
$logo-height: 130px;
$logo-color: #000000;
$logo-background-color: #E0627B;
$logo-color-hover: #BD25AA;
$logo-background-color-hover: #CCCCCC;

$logo-font-size-small: 60px;
$logo-height-small: 80px;

//----------------------------------------------
//--------------- Small Nav / Header -----------------

$small-header-background-color: #E5AEAE;

$small-nav-background-color: #A32020;
$small-nav-sub-menu-line-height: 38px;

//----------------------------------------------
//----------------- Main Nav -------------------

$main-nav-color: #4D83F5;
$main-nav-background-color: #2B44A7;
$main-nav-color-highlight: $main-nav-color + 50;
$main-nav-height: 80px;
$main-nav-line-height: 70px;
$main-nav-padding: ($main-nav-height - $main-nav-line-height) / 2 10px;
//$main-nav-padding: 5px 10px;
$main-nav-font-size: 18px;

$news-background-color: #2C2949;
$news-color: #F5B86B;
$news-font-size: 13px;

$shopping-cart-background: #6638AA;
$shopping-cart-icon-font-size: 50px;
$shopping-cart-font-size: 16px;

//----------------------------------------------
//-------------------- Block -------------------

// Properties for product 'block'
$block-size-small: 180px;
$block-size-med: 190px;
$block-size-big: 380px;
//$block-margin: 10px;
$block-margin: 20px;

$block-animate-time: 160ms;
$block-animate-timing-function: ease-out;

// Properties for product 'image'
$image-animate-time: 300ms;
$image-animate-timing-function: ease;
$image-transition: width $image-animate-time $image-animate-timing-function, height $image-animate-time $image-animate-timing-function, opacity $image-animate-time $image-animate-timing-function;

$price-tag-color: #9BCAC5;

$add-to-cart-background-color: #AFC948;
$add-to-cart-background-color-hover: #CAC65F;

$newsletter-background-color: #6E6288;

$dress-title-color: #e2d2ff;
$dress-title-creator-color: #87e035;

//----------------------------------------------
//-------------------- Body --------------------


//----------------------------------------------
//------------------- Footer -------------------
$footer-background-color: #151222;
$footer-color: #B45FA0;

//----------------------------------------------
//------------- Media Query sizes --------------

$screen-size-desktop: 1824px;
$screen-size-ipad-landscape: 1224px;
$screen-size-ipad-portrait: 1024px;
$screen-size-smartphone-landscape: 768px;
$screen-size-smartphone-portrait: 640px;
$screen-size-smartphone-small: 321px;

@media only screen and (max-width: $screen-size-desktop) {
  
}
@media only screen and (max-width: $screen-size-ipad-landscape) {
  
}
@media only screen and (max-width: $screen-size-ipad-portrait) {
  
}
@media only screen and (max-width: $screen-size-smartphone-landscape) {
  
}
@media only screen and (max-width: $screen-size-smartphone-portrait) {
  
}
@media only screen and (max-width: $screen-size-smartphone-small) {
  
}