//----------------------------------------------
//----------------- Constants ------------------
$site-min-width: 320px;

$body-background-dark: #100D22;

//----------------------------------------------
//------------------- Logo ---------------------

$logo-font-size: 90px;
$logo-height: 130px;

$logo-color: #130E3A;
$logo-background-color: #D31955;

$logo-color-hover: #47BE85;
$logo-background-color-hover: #86128B;

$logo-font-size-small: 60px;
$logo-height-small: 80px;

//----------------------------------------------
//--------------- Small Nav / Header -----------------

$small-header-background-color: #E5AEAE;

$small-nav-background-color: #A32020;
$small-nav-sub-menu-line-height: 38px;

//----------------------------------------------
//----------------- Main Nav -------------------

$main-nav-color: #e7e1f3;
$main-nav-background-color: #161D38;
$main-nav-color-highlight: #456fdd;
$main-nav-height: 80px;
$main-nav-line-height: 70px;
$main-nav-padding: ($main-nav-height - $main-nav-line-height) / 2 10px;
//$main-nav-padding: 5px 10px;
$main-nav-font-size: 18px;

$news-background-color: #2C2949;
$news-color: #FFC64C;
$news-font-size: 13px;

$shopping-cart-background: #3858AA;
$shopping-cart-color: #DBDBDB;
$shopping-cart-icon-font-size: 50px;
$shopping-cart-font-size: 16px;

//----------------------------------------------
//-------------------- Block -------------------

// Properties for product 'block'
$block-size-small: 180px;
$block-size-med: 190px;
$block-size-big: 380px;
//$block-margin: 10px;
$block-margin: 20px;

$block-animate-time: 160ms;
$block-animate-timing-function: ease-out;

// Properties for product 'image'
$image-animate-time: 300ms;
$image-animate-timing-function: ease;
$image-transition: width $image-animate-time $image-animate-timing-function, height $image-animate-time $image-animate-timing-function, opacity $image-animate-time $image-animate-timing-function;

$price-tag-color: #33204E;
$price-tag-background-color: #88B4D6;

$add-to-cart-background-color: #AFC948;
$add-to-cart-background-color-hover: #CAC65F;
$add-to-cart-background-color: #E7558F;
$add-to-cart-background-color-hover: #F07829;

$newsletter-background-color: #6E6288;

$dress-title-color: #E7E1F3;
$dress-title-creator-color: #87e035;

//----------------------------------------------
//-------------------- Body --------------------

$blog-dark-title-color: #121241;
$blog-dark-title-shadow-color: rgba(192, 200, 246, 0.8);

$blog-orange-title-color: #EE671B;
$blog-orange-title-shadow-color: rgba(0, 0, 0, 0.8);

$blog-green-title-color: #63F07F;
$blog-green-title-shadow-color: rgba(20, 59, 10, 0.8);

$blog-red-title-color: #EC2B2B;
$blog-red-title-shadow-color: rgba(58, 20, 8, 0.8);

$input-color: #333;

//----------------------------------------------
//------------------- Footer -------------------
$footer-background-color: #151222;
$footer-color: #B45FA0;

//----------------------------------------------
//------------- Media Query sizes --------------

$screen-size-desktop: 1824px;
$screen-size-ipad-landscape: 1224px;
$screen-size-ipad-portrait: 1024px;
$screen-size-smartphone-landscape: 768px;
$screen-size-smartphone-portrait: 640px;
$screen-size-smartphone-small: 321px;

@media only screen and (max-width: $screen-size-desktop) {
  
}
@media only screen and (max-width: $screen-size-ipad-landscape) {
  
}
@media only screen and (max-width: $screen-size-ipad-portrait) {
  
}
@media only screen and (max-width: $screen-size-smartphone-landscape) {
  
}
@media only screen and (max-width: $screen-size-smartphone-portrait) {
  
}
@media only screen and (max-width: $screen-size-smartphone-small) {
  
}